html
    head
        title Ankit Sharma - Android and Web developer
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(href="res/main.css" rel="stylesheet")
    body
        .intro
            .container
                .block
                    .row
                        .col.s12.m7
                            .title Hi, I’m Ankit Sharma
                            .text I’m a Software engineer by profession working as Android and Frontend application developer. I have a passion for building applications, constantly perfecting my craft, and producing work that I can be proud of.
                            .text Very much interested in Product design and development, User interfaces and User Interactions.
                            .text Apart from this I am mad about cars, loves to drive, chit chat and blah blah..
                        .col.s12.m5
                            .image
                                img(src="res/img_me.jpg" alt="Ankit Sharma")
        .blogs.alternate
            .container
                .block
                    .title Blogs
                    .row
                        .col.s12.m6
                            a.blog(href="https://medium.com/@ankitsharma6466/often-ignored-stuff-android-data-structures-ec2efff847ea" target="_blank")
                                .image
                                    img(src="res/img_android.png")
                                .title Often Ignored Stuff — Android Data Structures
                                .desc Performance | Efficiency | Optimisation…
                        .col.s12.m6
                            a.blog(href="https://itnext.io/building-react-app-part-1-why-react-1a4ecdaffd6e" target="_blank")
                                .image
                                    img(src="res/img_react.png")
                                .title Building React App Part 1 — Why React?
                                .desc Note: The focus here is about React and why I love it and not how it compares to other frameworks or libraries available. If you are a…
                        .col.s12.m6
                            a.blog(href="https://itnext.io/building-react-app-part-2-architecture-boilerplate-683b992089a6" target="_blank")
                                .image
                                    img(src="res/img_react.png")
                                .title Building React App Part 2— Architecture Boilerplate
                                .desc The biggest entry barrier for someone to get started after tutorials is the environment setup and app architecture. Even if you know…
                        .col.s12.m6
                            a.blog(href="https://itnext.io/building-react-app-part-3-component-generation-455e77d7b1c6" target="_blank")
                                .image
                                    img(src="res/img_react.png")
                                .title Building React App Part 3— Component Generation
                                .desc In Part 2 we discussed about the architecture of the boilerplate code and how we can setup...
        .contributions
            .container
                .block
                    .title Contributions
                    .row
                        .col.s12.m6
                            a.contribution(href="https://github.com/ankitsharma6466/AndroidKotlinBoilerplate" target="_blank")
                                .title AndroidKotlinBoilerplate
                                .desc Base boilerplate code for developing Android applications using Kotlin, MVVM, Dagger, Rxjava/RxKotlin...
                        .col.s12.m6
                            a.contribution(href="https://github.com/ankitsharma6466/react-boilerplate" target="_blank")
                                .title react-boilerplate
                                .desc Simple boilerplate code setup to develop fully functional PWA in minutes using ReactJs.
                    .info Visit Github for more details
        .contact.alternate
            .container
                .block
                    .title Contact
                    .row
                        .col.s12.m5
                            .details
                                div Connect with me at
                                a.phone(href="tel:9654449091") +91-9654449091
                                a.email(href="mailto:ankitsharma6466@gmail.com") ankitsharma6466@gmail.com
                        .col.s12.m7
                            .row
                                .col.s4
                                    a.social(href="https://angel.co/ankitsharma6466" target="_blank")
                                        img(src="res/64bfdcefe79bd40c1c90e9096fd76255.svg")
                                .col.s4
                                    a.social(href="https://github.com/ankitsharma6466" target="_blank")
                                        img(src="res/if_github_291716.png")
                                .col.s4
                                    a.social(href="https://www.linkedin.com/in/ankitsharma6466/" )
                                        img(src="res/linkedin-logo-copy.png")