html
    head
        title Ankit Sharma - Android and Web developer
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(content="Based out of Delhi NCR, Software Engineer, Android and Web developer" property="og:description")
        meta(name="description" content="Based out of Delhi NCR, Software Engineer, Android and Web developer")
        meta(name="keywords" content="Ankit, Sharma, Ankit Sharma, Software Engineer, Architect, Android, developer, web, frontend, reactjs, kotlin, Applications")
        meta(name="theme-color" content="#000")
        link(href="manifest.json" rel="manifest")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(href="res/main.css" rel="stylesheet")
    body
        .background
            .content
                .data
                    .title Hello!!
                    .text I am Ankit Sharma,
                    .text Software Engineer by profession, Passionate about building applications, constantly perfecting my craft and producing work that I can be proud of.
                    .sub-title Connect with me
                    .connect
                        a.icon(href="https://github.com/ankitsharma6466git " target="_blank")
                            img(src="res/github-logo.svg")
                        a.icon(href="https://medium.com/@ankitsharma6466" target="_blank")
                            img(src="res/medium.svg")
                        a.icon(href="https://www.linkedin.com/in/ankitsharma6466/" target="_blank")
                            img(src="res/linkedin-button.svg")
                        a.icon(href="https://www.facebook.com/ankitsharma6466" target="_blank")
                            img(src="res/facebook-logo-button.svg")
                        a.icon(href="https://twitter.com/ankitsharma6466" target="_blank")
                            img(src="res/twitter-logo-button.svg")