// Media Query Ranges
$small-screen-up: 769px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$x-small-screen: 480px !default;
$small-screen: 768px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$x-small-and-down: "only screen and (max-width : #{$x-small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

//grid and spacing
$num-cols: 12 !default;
$gutter-width: 2rem !default;
$negative-offset: -7rem !default;

//colors
$background-primary: #ffffff;
$background-secondary: #f5f5f5;
$text-primary: #505050;
$text-secondary: #848484;
$text-title: #242424;