body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #595959;
    background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 72px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    color: #424242;
}
h2{
    font-size: 42px;
    margin: 0 0 20px 0;
    color: #4A90E2;
    text-transform: uppercase;
}
.clearfix {
    overflow: auto;
    zoom: 1;
}
.font-color-primary{
    color: #4A90E2;
}
.content{
    padding: 50px 15px;
}
.banner{
    background-color: #ccc;
    height: 100vh;
    min-height: 300px;
}
.intro{

}
.mb20{
    margin-bottom: 20px;
}
.links{
    padding-top: 20px;
    padding-bottom: 20px;
}
.links .icon{
    margin-bottom: 10px;
}
.links .icon img{
    height: 72px;
    margin: 0 auto;
}

.link{
    width: 25%;
    float: left;
    min-height: 1px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #595959;
}
.link .text{
    transition: all .2s linear;
}
.link:hover .text{
    color: #4A90E2;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

@media (max-width: 768px) {
    body{
        font-size: 16px;
    }
    h1{
        font-size: 42px;
    }
    h2{
        font-size: 24px;
    }
    .about, .connect, .contact{
        text-align: center;
    }
    .about .description{
        text-align: justify;
        text-justify: inter-word;
    }
    .link{
        width: 50%;
        margin-bottom: 30px;
    }
    .links .icon {
        margin-bottom: 5px;
    }
    .links .icon img{
        height: 40px;
    }
}